In [1]:
import requests
import time
import pprint
import pickle
import numpy as np
import json
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from wordcloud import WordCloud
import xml.etree.ElementTree as ET
import re
from unicodedata import normalize
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from matplotlib import pyplot
import seaborn as sns
%matplotlib
%pylab inline
pylab.rcParams['figure.figsize'] = (20, 10)

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [2]:
def parseo_cuatrimeste_fecha(row):
    if row == '01/01/':
        date = 'Primero'
    elif row == '01/04/':
        date = 'Segundo'
    elif row == '01/07/':
        date = 'Tercero'
    elif row == '01/10/':
        date = 'Cuarto'
    return date

In [3]:
data = pd.read_csv(r'C:\Users\Marta\Desktop\Rotación 2 SBD\BackUp_Proyecto\Python Scripts\Modelo evolución precios\Datos - copia - Marta\tabla.csv', 
                   sep=';', engine="python", decimal=',', encoding="latin1")
data= data.dropna()
data= data.loc[:,["Fecha", "Provincia", "IMPTOTAL", "SUPERF_ADOPTADA", "MATRICULA", "MES", "AÑO"]]
data.columns= ["Fecha", "Provincia_x", "IMPTOTAL", "SUPADAPT", "MATRICULA", "MES", "AÑO"]

In [4]:
data = data[data['SUPADAPT']>1]
data['Precio m2'] = data.loc[:, ['IMPTOTAL', 'SUPADAPT']].apply(lambda s: s[0]/s[1], axis=1)
data = data[(data['Precio m2']>300)&(data['Precio m2']<36000)]

In [5]:
data

,Fecha,Provincia_x,IMPTOTAL,SUPADAPT,MATRICULA,MES,AÑO,Precio m2
0,2018-07-01,48.0,159414.31,88.99,719000001124,SEP,2018,1791.373300
1,2018-10-01,20.0,613418.67,247.13,719000002322,NOV,2018,2482.169992
2,2018-07-01,8.0,514570.56,150.93,719000006953,JUL,2018,3409.332538
3,2017-10-01,36.0,70629.75,75.00,719000008350,OCT,2017,941.730000
4,2018-04-01,12.0,100071.36,68.50,719000008930,MAY,2018,1460.895766
...,...,...,...,...,...,...,...,...
84730,2018-10-01,11.0,201674.49,181.30,719237693052,OCT,2018,1112.379978
84731,2018-07-01,37.0,123657.20,164.00,719237718321,JUL,2018,754.007317
84732,2018-04-01,17.0,143682.79,152.10,719237737241,JUN,2018,944.660026
84733,2018-04-01,8.0,169543.08,171.00,719237759916,JUN,2018,991.480000
84734,2016-10-01,8.0,198648.00,200.00,719238002962,DEC,2016,993.240000

In [6]:
trimestre = data.loc[data.Fecha == '2018-10-01', ['Provincia_x', 'Precio m2']]  # insertar último cuatrimestre de la tabla
#De cada vivienda tenemos el precio del m2 a fecha 01/10/2018

#Calcular precio medio del último cuatrimestre por provincia a fecha de 01/10/2018
trimestre= trimestre.sort_values('Provincia_x')
trimestre['Media_ULT_CUAT'] =trimestre.groupby('Provincia_x')['Precio m2'].transform('mean')
trimestre = trimestre.loc[:,['Provincia_x', 'Media_ULT_CUAT']]
trimestre = trimestre.drop_duplicates()
trimestre

       Provincia_x  Media_ULT_CUAT
83852          1.0     1432.074103
21355          2.0     1221.841535
78721          3.0     1164.967177
82716          4.0     1094.620093
78036          5.0      647.350038
83176          6.0      736.695715
84011          7.0     2468.773754
83410          8.0     2210.529337
32706          9.0     1178.628354
7894          10.0      966.008001
84455         11.0     1606.082946
83409         12.0      998.197387
75122         13.0      757.180006
11860         14.0     1308.684798
19585         15.0     1043.063363
64518         16.0      962.645142
83501         17.0     1538.233376
25979         18.0     1234.275847
81911         19.0      988.319630
82992         20.0     2534.186613
83964         21.0     1351.865354
20815         22.0     1060.513726
4292          23.0     1038.301702
84408         24.0      880.156863
6308          25.0      983.678508
9646          26.0     1054.136870
19438         27.0      694.174855
11361         28.0     2333.114443
16927         29.0     1807.806511
12651         30.0      962.166416
84544         31.0     1266.866751
29417         32.0      841.629997
83116         33.0     1529.962781
83149         34.0      936.052291
1516          35.0     1476.730044
16810         36.0     1135.285966
39674         37.0     1339.083387
11903         38.0     1602.052955
68756         39.0     1323.259725
4977          40.0     1161.679987
8180          41.0     1479.229312
20511         42.0      690.559670
84248         43.0     1320.968837
3590          44.0      850.319999
84200         45.0      827.729814
4549          46.0     1181.514446
83346         47.0     1278.021787
83780         48.0     1996.070847
82646         49.0      828.130052
9840          50.0     1610.287113
84419         51.0     1749.979996
83236         52.0     1769.405951

In [7]:
tablin_value_updated = data.merge(trimestre, left_on=['Provincia_x'], right_on=['Provincia_x'])
tablin_value_updated= tablin_value_updated.drop_duplicates()
tablin_value_updated.columns= ['Fecha', 'Provincia', 'IMPTOTAL', 'SUPADAPT', 'MATRICULA','MES', 'Año', 'Precio m2', 'Media_ULT_CUAT']
data.columns= ['Fecha', 'Provincia', 'IMPTOTAL', 'SUPADAPT', 'MATRICULA','MES', 'AÑO', 'Precio m2']

#De cada vivienda tenemos el precio del m2 a fecha 01/10/2018

In [8]:
año= data
año['Año'] = año.Fecha.apply(lambda s: s[6:])
#Calcular precio medio del último año (2018) por provincia 
año= año.sort_values('Provincia')
año['Media_ULT_AÑO'] =año.groupby('Provincia')['Precio m2'].transform('mean')
año = año.loc[:,['Provincia', 'Media_ULT_AÑO']]
año= año.drop_duplicates()
año

       Provincia  Media_ULT_AÑO
25728        1.0    1596.647761
24149        2.0     997.343589
12767        3.0    1122.180168
4081         4.0    1012.976355
5074         5.0     870.012827
9795         6.0     930.202556
16022        7.0    2209.984867
38945        8.0    2038.569993
39374        9.0    1108.835092
68053       10.0     952.646398
20852       11.0    1295.092904
32982       12.0    1001.118493
11489       13.0     816.565606
78354       14.0    1366.176057
30004       15.0    1146.172647
29115       16.0     757.448758
60663       17.0    1514.431908
82290       18.0    1189.701861
31081       19.0     926.830077
28271       20.0    2253.961086
80837       21.0    1195.303854
9661        22.0    1068.589689
82417       23.0     966.665769
55892       24.0     955.572162
28397       25.0    1007.799492
27941       26.0     984.061946
32146       27.0     847.175790
82818       28.0    2235.374335
79480       29.0    1650.518465
52828       30.0     922.675427
19739       31.0    1339.183844
33460       32.0     933.470060
42715       33.0    1272.985219
80077       34.0    1056.744793
34142       35.0    1595.809371
40774       36.0    1265.016329
64604       37.0    1242.210406
46227       38.0    1528.135031
78796       39.0    1470.938722
27963       40.0     977.065838
1729        41.0    1475.882773
34001       42.0    1094.472152
56729       43.0    1241.831197
52947       44.0     785.851805
76242       45.0     780.250034
15220       46.0    1020.370230
52043       47.0    1094.841657
40521       48.0    2135.838691
44044       49.0     899.338427
18782       50.0    1216.560771
44552       51.0    1946.580998
54766       52.0    1565.234850

In [9]:
tablin_value_updated = tablin_value_updated.merge(año, left_on=['Provincia'], right_on=['Provincia'])
tablin_value_updated= tablin_value_updated.drop_duplicates()
tablin_value_updated = tablin_value_updated.loc[:,['MATRICULA', 'Provincia', 'Fecha', 'IMPTOTAL', 'SUPADAPT', 'Precio m2', 'Media_ULT_CUAT','Media_ULT_AÑO', 'Año', 'MES']]

In [10]:
trimestre = data.loc[(data['MES'] == 'JUN')& (data['AÑO'] == 2018), ['Provincia', 'Precio m2']]
# insertar último trimestre de la tabla
#De cada vivienda tenemos el precio del m2 a fecha JUN 2018

#Calcular precio medio del último trimestre por provincia a fecha de JUN 2018
trimestre= trimestre.sort_values('Provincia')
trimestre['Media_ULT_TRIM'] =trimestre.groupby('Provincia')['Precio m2'].transform('mean')
trimestre = trimestre.loc[:,['Provincia', 'Media_ULT_TRIM']]
trimestre = trimestre.drop_duplicates()

In [11]:
tablin_value_updated = tablin_value_updated.merge(trimestre, left_on=['Provincia'], right_on=['Provincia'])
tablin_value_updated= tablin_value_updated.drop_duplicates()
tablin_value_updated = tablin_value_updated.loc[:,['MATRICULA', 'Provincia', 'Fecha', 'IMPTOTAL', 'SUPADAPT', 'Precio m2', 'Media_ULT_CUAT','Media_ULT_AÑO','Media_ULT_TRIM', 'Año', 'MES']]

In [12]:
tablin_value_updated['Variacion_CUAT'] = (tablin_value_updated["Precio m2"] - tablin_value_updated["Media_ULT_CUAT"])/tablin_value_updated["Precio m2"]
tablin_value_updated['Variacion_AÑO'] = (tablin_value_updated["Precio m2"] - tablin_value_updated["Media_ULT_AÑO"])/tablin_value_updated["Precio m2"]
tablin_value_updated['Variacion_TRIM'] = (tablin_value_updated["Precio m2"] - tablin_value_updated["Media_ULT_TRIM"])/tablin_value_updated["Precio m2"]

In [13]:
tablin_value_updated = tablin_value_updated.loc[:,['MATRICULA','Provincia','Fecha','Media_ULT_CUAT', 'Media_ULT_AÑO', 'Variacion_CUAT','Variacion_AÑO', 'Variacion_TRIM', 'Año', 'MES']]
tablin_value_updated    #variación de cada vivienda respecto al último cuatrimestre o al último año

,MATRICULA,Provincia,Fecha,Media_ULT_CUAT,Media_ULT_AÑO,Variacion_CUAT,Variacion_AÑO,Variacion_TRIM,Año,MES
0,719000001124,48.0,2018-07-01,1996.070847,2135.838691,-0.114269,-0.192291,-0.327271,2018,SEP
1,719002482600,48.0,2017-10-01,1996.070847,2135.838691,0.100229,0.037225,-0.071771,2017,NOV
2,719002934245,48.0,2015-04-01,1996.070847,2135.838691,0.045604,-0.021224,-0.136837,2015,APR
3,719005347536,48.0,2018-07-01,1996.070847,2135.838691,-0.224583,-0.310330,-0.458673,2018,JUL
4,719005599648,48.0,2015-04-01,1996.070847,2135.838691,0.325547,0.278321,0.196619,2015,JUN
...,...,...,...,...,...,...,...,...,...,...
84146,719228514003,52.0,2018-04-01,1769.405951,1565.234850,-0.119984,0.009251,-0.009836,2018,JUN
84147,719228847945,52.0,2018-07-01,1769.405951,1565.234850,-0.396391,-0.235262,-0.259060,2018,JUL
84148,719229098739,52.0,2018-07-01,1769.405951,1565.234850,-0.034886,0.084529,0.066892,2018,JUL
84149,719231167938,52.0,2018-10-01,1769.405951,1565.234850,0.131418,0.231643,0.216840,2018,NOV
84150,719232243003,52.0,2018-10-01,1769.405951,1565.234850,0.158392,0.255504,0.241161,2018,OCT

In [14]:
tablin_value_updated= tablin_value_updated.sort_values(by=['Provincia'])
#Calcular la media del precio de las viviendas por provincia
tablin_value_updated['Media_VAR_CUAT'] =tablin_value_updated.groupby(['Provincia','Fecha'])['Variacion_CUAT'].transform('mean')
tablin_value_updated['Media_VAR_TRIM'] =tablin_value_updated.groupby(['Provincia','Fecha'])['Variacion_TRIM'].transform('mean')

tablin_value_updated['Media_VAR_AÑO'] =tablin_value_updated.groupby(['Provincia', 'Fecha'])['Variacion_AÑO'].transform('mean')
tablin_value_updated = tablin_value_updated.loc[:,['Provincia','Fecha','Media_ULT_CUAT', 'Media_ULT_AÑO', 'Media_VAR_CUAT','Media_VAR_AÑO', 'Media_VAR_TRIM',  'Año', 'MES']]
tablin_value_updated= tablin_value_updated.drop_duplicates()     
#variación cuatrimestral y anual de cada provincia
#Esta tabla describe la variación de precios por provincia del último año o del último cuatrimestre respecto a la fecha

In [15]:
ultaño= tablin_value_updated.loc[tablin_value_updated.Fecha == '2018-01-01', ['Provincia','Media_VAR_AÑO']]  # insertar último cuatrimestre de la tabla
#Variación último año

In [16]:
seis= tablin_value_updated[(tablin_value_updated['MES']=='JUN')]
seis= seis[(seis['Año']==2018)]
seis= seis.loc[:,['Provincia','Media_VAR_TRIM']]
#Variación últimos 6 meses

In [17]:
cod = pd.read_excel(r'C:\Users\Marta\Desktop\Rotación 2 SBD\BackUp_Proyecto\Python Scripts\codprov.xls', skiprows=1)
keys = cod['CODIGO']
values = cod['LITERAL']
dictionary = dict(zip(keys, values))
seis['Provincia'] = seis['Provincia'].map(dictionary)
ultaño['Provincia'] = ultaño['Provincia'].map(dictionary)

In [23]:
ultaño= ultaño.drop_duplicates()

In [33]:
variacion= ultaño.merge(seis, how='outer')
variacion.columns= ['Provincia', 'AÑO', '6MESES']

In [35]:
variacion.to_csv(r'C:\Users\Marta\Desktop\Rotación 2 SBD\BackUp_Proyecto\Python Scripts\variacion_precios.csv', 
                   sep=';', encoding="latin1", decimal=',', index=False)

In [37]:
variacion

                 Provincia       AÑO    6MESES
0              Araba/Álava -0.145614 -0.256394
1                 Albacete -0.026450 -0.172834
2         Alicante/Alacant -0.199681 -0.242358
3                  Almería -0.012074 -0.190576
4                    Ávila -0.213974 -0.123935
5                  Badajoz -0.450919 -0.166504
6           Balears, Illes -0.055506 -0.178434
7                Barcelona -0.157094 -0.193804
8                   Burgos -0.179802 -0.297905
9                  Cáceres  0.100488 -0.253439
10                   Cádiz -0.329964 -0.149556
11      Castellón/Castelló -0.194734 -0.158763
12                 Córdoba  0.065000 -0.022062
13               Coruña, A -0.256365 -0.178589
14                  Cuenca -0.061778  0.131324
15                  Girona -0.121357 -0.174091
16                 Granada -0.363808 -0.217435
17             Guadalajara  0.039229 -0.108285
18                Gipuzkoa -0.167252 -0.063510
19                  Huelva -0.225541 -0.115689
20                  Huesca -0.067745 -0.254255
21                    Jaén -0.041026  0.106510
22                    León -0.227469 -0.068576
23                  Lleida -0.323962 -0.175673
24               Rioja, La -0.065132 -0.580527
25                    Lugo -0.072544 -0.118674
26                  Madrid -0.134409 -0.247543
27                  Málaga -0.106404 -0.220749
28                  Murcia -0.152271 -0.151864
29                 Navarra -0.195027 -0.264962
30                 Ourense  0.114013 -0.423370
31                Asturias -0.210073 -0.183706
32                Palencia  0.005377 -0.208311
33             Palmas, Las -0.010000 -0.007862
34              Pontevedra -0.054315 -0.263060
35               Salamanca -0.054733 -0.268717
36  Santa Cruz de Tenerife -0.214999 -0.094610
37               Cantabria -0.122718 -0.163912
38                 Segovia  0.122889 -0.026943
39                 Sevilla -0.096186 -0.304344
40               Tarragona -0.206285 -0.165231
41                  Toledo -0.104371 -0.136463
42       Valencia/València -0.171688 -0.272870
43              Valladolid -0.285499 -0.077389
44                 Bizkaia -0.003295 -0.128635
45                  Zamora -0.543921 -0.340465
46                Zaragoza -0.112733 -0.072114
47                   Ceuta -0.041377 -0.061768
48                 Melilla  0.049898 -0.026165
49             Ciudad Real       NaN  0.312181